<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/house/register}" th:object="${houseInmateDto}" method="post">
    <label>
        <p>Nazwa domu <input type="text" th:field="*{houseName}"/></p>
    </label>
    <label>
        <p>Hasło domu <input type="password" th:field="*{housePassword}"/></p>
    </label>
    <label>
        <p>Nazwa domownika <input type="text" th:field="*{inmateName}"/></p>
    </label>
    <label>
        <p>Hasło domownika <input type="password" th:field="*{inmatePassword}"/></p>
    </label>
    <button type="submit">submit</button>
</form>
</body>
</html>