<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://semantic-ui.com/dist/components/form.js"></script>
    <script src="/scripts/validation.js"></script>
</head>
<body>
<div class="content">
    <form action="#" th:action="@{/inmate/register}" th:object="${houseInmateDto}" method="post" class="ui form">
        <label>
            <div class="ui corner labeled input" data-tooltip="Podaj nazwę domu do którego się rejestrujesz">
                <div class="field">
                    <input name="houseName" type="text" placeholder="Nazwa domu" th:field="*{houseName}">
                </div>
            </div>
        </label>
        <div class="ui hidden divider"/>
        <label>
            <div class="ui corner labeled input" data-tooltip="Podaj hasło domu">
                <div class="field">
                    <input name="housePassword" type="password" placeholder="Hasło domu" th:field="*{housePassword}">
                </div>
            </div>
        </label>
        <div class="ui hidden divider"/>
        <label>
            <div class="ui corner labeled input" data-tooltip="Podaj swój nick (np. imię)">
                <div class="field">
                    <input name="inmateName" type="text" placeholder="Nazwa domownika" th:field="*{inmateName}">
                </div>
            </div>
        </label>
        <div class="ui hidden divider"/>
        <label>
            <div class="ui corner labeled input" data-tooltip="Podaj swoje hasło">
                <div class="field">
                    <input name="inmatePassword" type="password" placeholder="Hasło domownika"
                           th:field="*{inmatePassword}">
                </div>
            </div>
        </label>
        <div class="ui hidden divider"/>
        <label>
            <div class="ui corner labeled input">
                <div class="field">
                    <input name="confirmInmatePassword" type="password" placeholder="Potwierdź hasło"
                           th:field="*{confirmInmatePassword}">
                </div>
            </div>
        </label>
        <div class="ui hidden divider"/>
        <button class="ui inverted blue button" type="submit">submit</button>
        <div class="ui error message"></div>
    </form>
</div>
</body>
</html>